// Catppuccin Mocha palette
// https://github.com/catppuccin/catppuccin
@ctpRosewater: #f5e0dc;
@ctpFlamingo:  #f2cdcd;
@ctpPink:      #f5c2e7;
@ctpMauve:     #cba6f7;
@ctpRed:       #f38ba8;
@ctpMaroon:    #eba0ac;
@ctpPeach:     #fab387;
@ctpYellow:    #f9e2af;
@ctpGreen:     #a6e3a1;
@ctpTeal:      #94e2d5;
@ctpSky:       #89dceb;
@ctpSapphire:  #74c7ec;
@ctpBlue:      #89b4fa;
@ctpLavender:  #b4befe;
@ctpText:      #cdd6f4;
@ctpSubtext1:  #bac2de;
@ctpSubtext0:  #a6adc8;
@ctpOverlay2:  #9399b2;
@ctpOverlay1:  #7f849c;
@ctpOverlay0:  #6c7086;
@ctpSurface2:  #585b70;
@ctpSurface1:  #45475a;
@ctpSurface0:  #313244;
@ctpBase:      #1e1e2e;
@ctpMantle:    #181825;
@ctpCrust:     #11111b;
